In [1]:
import os
import sys
import numpy as np
import pandas as pd
import math

In [2]:
os.chdir("../Data/Heart disease UCI")

In [3]:
train_df = pd.read_csv("heart.csv")
train_df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
X = train_df.drop(columns=['target'])
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [5]:
y = train_df[["target"]]
y.head()

   target
0       1
1       1
2       1
3       1
4       1

In [7]:
rules_df = pd.read_csv("rules.csv")
rules_df.head()

,Rule Index,No. Of Instances,Instances,Class1 count,Class0 count,No. Of Terms,Term1 Attribute,Term1 Relation,Term1 Value,Term2 Attribute,...,Term2 Value,Term3 Attribute,Term3 Relation,Term3 Value,Term4 Attribute,Term4 Relation,Term4 Value,Term5 Attribute,Term5 Relation,Term5 Value
0,0,0,NaN,0,0,4,cp,2,0.0,thal,...,2,thal,1,1,sex,-1,0,NaN,-1,-1
1,1,0,NaN,0,0,3,ca,2,0.0,cp,...,0,sex,2,0,NaN,-1,-1,NaN,-1,-1
2,2,0,NaN,0,0,5,slope,2,1.0,thal,...,2,fbs,-1,0,exang,-1,0,age,-1,56
3,3,0,NaN,0,0,4,oldpeak,-1,0.7,fbs,...,0,trestbps,-1,146,thal,-1,2,NaN,-1,-1
4,4,0,NaN,0,0,4,slope,2,1.0,fbs,...,0,age,-1,61,restecg,-1,0,NaN,-1,-1

In [6]:
n_samples=X.shape[0]
n_features=X.shape[1]
print(n_samples,n_features)

303 13

In [8]:
n_samples=X.shape[0]
n_features=X.shape[1]
n_rules=rules_df.shape[0]
print(n_samples,n_features,n_rules)

303 13 13

In [9]:
data_rule=np.zeros((train_df.shape[0],rules_df.shape[0]))
#print(data_rule)
print(data_rule.shape)

(303, 13)

In [10]:
def cond_check(x,j,col,rel,val):
  col=str(col)
  rel=int(rel)
  val=float(val)
  col=col.strip()
  #if(col=='nan'):print(j,col,rel,val)
  #print([(z,type(z)) for z in list(x.columns)])
  #print(col,type(col))
  if(rel==-2):
    return(x[col][j]<val)
  if(rel==-1):
    return(x[col][j]<=val)
  if(rel==0):
    return(x[col][j]==val)
  if(rel==1):
    return(x[col][j]>=val)
  if(rel==2):
    return(x[col][j]>val)
def isNan(s):
  return s!=s
for i in range(0,len(rules_df)):
  NT=int(rules_df["No. Of Terms"][i])
  for j in range(0,len(train_df)):
    if(NT==0):
      data_rule[j][i]=1
      #print("Original icount ="+str(int(rules_df["No. Of Instances"][i])))
      rules_df["No. Of Instances"][i]=str(1+int(rules_df["No. Of Instances"][i]))
      rules_df["Instances"][i]=str(rules_df["Instances"][i])
      if (rules_df["Instances"][i]=='nan'): rules_df["Instances"][i]=str(j)+","
      else: rules_df["Instances"][i]=str(rules_df["Instances"][i])+str(j)+","
      c=int(train_df["target"][j])
      rules_df["Class"+str(c)+" count"][i]=str(1+int(rules_df["Class"+str(c)+" count"][i]))
      continue
    for k in range(1,NT+1):
      check=cond_check(train_df,j,rules_df["Term"+str(k)+" Attribute"][i],rules_df["Term"+str(k)+" Relation"][i],rules_df["Term"+str(k)+" Value"][i])
      #print(i,j,k,check)
      if(check==False):break
      if(check==True and k==NT):
        data_rule[j][i]=1
        #print("Original icount ="+str(int(rules_df["No. Of Instances"][i])))
        rules_df["No. Of Instances"][i]=str(1+int(rules_df["No. Of Instances"][i]))
        rules_df["Instances"][i]=str(rules_df["Instances"][i])
        if (rules_df["Instances"][i]=='nan'): rules_df["Instances"][i]=str(j)+","
        else: rules_df["Instances"][i]=str(rules_df["Instances"][i])+str(j)+","
        c=int(train_df["target"][j])
        rules_df["Class"+str(c)+" count"][i]=str(1+int(rules_df["Class"+str(c)+" count"][i]))
        #print(i,j,k)
        #print(rules_df)
print(rules_df)

/home/ronit/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/ronit/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/ronit/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/ronit/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/home/ronit/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/ronit/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    Rule Index  No. Of Instances  \
0            0                53
1            1                63
2            2                59
3            3                90
4            4                40
5            5                60
6            6                83
7            7                31
8            8                75
9            9                58
10          10                55
11          11               257
12          12               303

                                            Instances  Class1 count  \
0   nan2,6,11,14,15,16,17,19,25,28,30,35,36,38,39,...            51
1   97,139,165,166,168,174,176,179,180,185,186,187...             2
2   2,3,10,11,12,18,22,27,30,32,40,44,45,46,47,48,...            54
3   4,5,11,12,16,21,22,27,30,32,33,41,43,44,45,46,...            78
4   2,32,34,37,40,44,46,47,48,49,50,56,57,58,59,72...            26
5   23,35,107,119,139,165,166,169,170,174,178,179,...             5
6   19,25,30,33,34,40,52,55,59,71,82,86,92,98,100,...            26
7   0,8,23,26,29,64,76,78,83,87,90,97,99,103,106,1...            17
8   3,7,8,9,10,12,18,22,26,27,31,32,37,44,45,46,47...            55
9   13,21,23,24,34,42,66,71,73,77,79,91,138,166,16...            13
10  20,31,37,52,61,70,79,86,91,101,111,117,152,158...            15
11  0,1,2,3,5,6,7,8,9,10,11,12,13,14,15,17,18,19,2...           142
12  0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18...           165

    Class0 count  No. Of Terms Term1 Attribute  Term1 Relation  Term1 Value  \
0              2             4              cp               2          0.0
1             61             3              ca               2          0.0
2              5             5           slope               2          1.0
3             12             4         oldpeak              -1          0.7
4             14             4           slope               2          1.0
5             55             3           slope              -1          1.0
6             57             3         thalach               2        118.0
7             14             3         thalach               2        118.0
8             20             4         thalach               2        118.0
9             45             3         thalach               2        118.0
10            40             4         thalach               2        118.0
11           115             1            chol              -1        298.0
12           138             0             NaN              -1         -1.0

   Term2 Attribute  ...  Term2 Value  Term3 Attribute Term3 Relation  \
0             thal  ...            2             thal              1
1               cp  ...            0              sex              2
2             thal  ...            2              fbs             -1
3              fbs  ...            0         trestbps             -1
4              fbs  ...            0              age             -1
5            exang  ...            0         trestbps              2
6              fbs  ...            0               ca              2
7              sex  ...            0              fbs              2
8              sex  ...            0            exang             -1
9              sex  ...            0            exang              2
10             sex  ...            0             thal              2
11             NaN  ...           -1              NaN             -1
12             NaN  ...           -1              NaN             -1

    Term3 Value  Term4 Attribute Term4 Relation  Term4 Value  Term5 Attribute  \
0             1              sex             -1            0              NaN
1             0              NaN             -1           -1              NaN
2             0            exang             -1            0              age
3           146             thal             -1            2              NaN
4            61          restecg             -1            0              NaN
5           115              NaN             -1           -1              NaN
6             0              NaN             -1           -1              NaN
7             0              NaN             -1           -1              NaN
8             0            slope              2            1              NaN
9             0              NaN             -1           -1              NaN
10            2              age              2           52              NaN
11           -1              NaN             -1           -1              NaN
12           -1              NaN             -1           -1              NaN

   Term5 Relation  Term5 Value
0              -1           -1
1              -1           -1
2              -1           56
3              -1           -1
4              -1           -1
5              -1           -1
6              -1           -1
7              -1           -1
8              -1           -1
9              -1           -1
10             -1           -1
11             -1           -1
12             -1           -1

[13 rows x 21 columns]

/home/ronit/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/ronit/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/ronit/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/ronit/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/home/ronit/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
rules_df.to_csv("rules2.csv",index=False)

In [12]:
for i in range(0,n_rules):
  X["rule"+str(i)]=data_rule[:,i]

In [13]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,...,rule3,rule4,rule5,rule6,rule7,rule8,rule9,rule10,rule11,rule12
0,63,1,3,145,233,1,0,150,0,2.3,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
1,37,1,2,130,250,0,1,187,0,3.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
2,41,0,1,130,204,0,0,172,0,1.4,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
3,56,1,1,120,236,0,1,178,0,0.8,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
4,57,0,0,120,354,0,1,163,1,0.6,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

# Now we have the rule satisfaction attributes as a part of the dataset